body {
  font-family: Arial;
  color: #4a566e;
  margin: 0;
}

.caixa1 {
  /*padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
  background: url(port.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-clip: border-box;*/
  display: table;
  width: 100%;
  height: 100vh;
  padding: 100px 0;
  color: white;
  background: url(port.jpg);
  background-position: 30% 45%;
  background-size: cover;
  
}

.menu {
  text-align: right;
  padding-right: 40px;
}

.caixa2 {
  background: #741bff;
  padding-bottom: 50px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.caixa3 {
  height: 300px;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 48px;
}

p {
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}

.catioro {
  height: 150px;
  border-radius: 100px;
}

.linkmenu {
  text-decoration: none;
  color: #4a566e;
  margin-left: 20px;
}

a:hover {
  color: blue;
}

.habilidade {
  background: white;
  width: 300px;
  border-radius: 30px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 10px;
  padding-left: 10px;
}

.titulohabilidades {
  color: white;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 40px;
}

.titulocontato {
  text-align: center;
  padding-bottom: 50px;
}

.linkwhatsapp {
  color: white;
  background: green;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 10px;
  text-decoration: none;
}

.outroscontatos {
  padding-top: 30px;
}

@media (max-width: 600px) {
.menu {
display: none;
}

.habilidade {
margin-left: 10px;
margin-right: 10px;
margin-bottom: 30px;
}
}